@CHARSET "ISO-8859-1";



body { 
background: url(image/cartoon_animals_05.jpg) no-repeat center center fuchsia; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

form {
	
}

